section.game {
  position: relative;
  background: var(--secondary);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.game > div.controls-holder {
  padding: 2rem 0;
}

.game button {
  background: none;
  border: 1px solid var(--primary);
  font-size: 1.5rem;
  padding: 1rem;
  color: var(--accent);
  margin: auto 1rem;
}

#myGame {
  background: rgba(0, 0, 0, 0.2);
}
