@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

:root {
  /* COLORS */
  --primary: orange;
  --secondary: #136c72;
  --accent: white;

  /* FONTS */
  --main-text-font: "Roboto", sans-serif;
}
