@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap");

:root {
  /* COLORS */
  --primary: orange;
  --secondary: #136c72;
  --accent: white;

  --shadow: 5px 4px 10px 3px rgba(0, 0, 0, 0.2);
  --radius: 5px;

  /* FONTS */
  --main-text-font: "Roboto", sans-serif;
}
